<div class="container m-5 p-5 border border-secondary">
    <h2>Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :email, class: "font-weight-bold" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter your email", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: "btn btn-primary btn-md" %>
      </div>
    <% end %>
    
    <div class="mt-5">
        <h4 class="font-weight-bold">Alternative options:</h4>
        <%= render "devise/shared/links" %>
    </div>
</div>
